<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
  </head>
  <body>
    <h1>movies</h1>
    <ul class="movie-list">
      <% movie.map((movie) => { %>
      <li class="movie-card">
        <img src="<%= x.image %>" alt="<%= x.title %>" class="movie-image" />
        <div class="movie-info">
          <h2 class="movie-title"><%= movie.title %></h2>
          <p class="movie-genre">Genre: <%= movie.genre %></p>
          <p class="movie-year">Relase date: <%= movie.year %></p>
          <p class="movie-rating">Rating: <%= movie.rating %></p>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
